.transaction-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.heading {
  font-size: 40px;
  text-align: center;
}

.table-container {
  width: 70%;
  height: auto;
  display: flex;
  border-left: 1px solid #0c0c0c;
  border-top: 1px solid #0c0c0c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.column {
  border: 1px solid #0c0c0c;
  flex-shrink: 1;
  width: 220px;
  height: 40px;
  border-left: none;
  border-top: none;
  margin-left: 0px;
}

.popup-contaienr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #affa8f;
  background-color: #fffdfd;
  padding: 15px;
}

.header-contaienr {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-header {
  font-size: 20px;
  font-family: roboto;
  font-weight: 600;
  color: #252525;
}

.transaction-type-container {
  width: 100%;
  height: 60vh;
}

.trigger-button {
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
